<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/bootstrap.css" />
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <h2>My Web</h2>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/respon">Respon</a>
        </li>
      </ul>
    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/respon">Respon</a>
    {% block content %}
    {% endblock %}

    
    <script src="../static/js.js"></script>
    <script src="../static/bootstrap.js"></script>
    <script src="../static/bootstrap.bundle.js"></script>
</body>
</html>