<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <h1>Informasi Student</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Pin</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row["name"] }}</td>
                <td>{{ row["addr"] }}</td>
                <td>{{ row["city"] }}</td>
                <td>{{ row["pin"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3><a href="{{ url_for('home') }}">Back to Home</a></h3>
</body>
</html>